[package]
name = "hypercore"
version = "0.11.0"
license = "MIT OR Apache-2.0"
description = "Secure, distributed, append-only log"
documentation = "https://docs.rs/hypercore"
repository = "https://github.com/datrs/hypercore"
readme = "README.md"
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>"]
keywords = ["dat", "p2p", "stream", "feed", "merkle"]
categories = [
  "asynchronous",
  "concurrency",
  "cryptography",
  "data-structures",
  "encoding",
]
edition = "2018"

[dependencies]
blake2-rfc = "0.2.18"
byteorder = "1.3.2"
ed25519-dalek = "0.9.1"
failure = "0.1.5"
flat-tree = "4.1.0"
lazy_static = "1.3.0"
memory-pager = "0.9.0"
merkle-tree-stream = "0.11.0"
pretty-hash = "0.4.0"
rand = "0.6.0"
random-access-disk = "0.8.0"
random-access-memory = "1.0.0"
random-access-storage = "3.0.0"
sha2 = "0.8.0"
sleep-parser = "0.8.0"
sparse-bitfield = "0.11.0"
tree-index = "0.5.0"

[dev-dependencies]
quickcheck = "0.8.5"
data-encoding = "2.1.2"
remove_dir_all = "0.5.2"
tempfile = "3.1.0"
async-std = "1.5.0"
